.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .title {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: var(--secondary-color-3);
}

.dashboard .filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard .year-picker {
    padding: 6px 11px;
}

.dashboard .view-selector {
    width: 120px;
    height: fit-content;
}

.dashboard .view-selector .ant-select-selector {
    padding: 2px 11px;
}

.dashboard .counter-card-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.dashboard .bottom-div {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}